.product-image img {
    max-width: 100%;
    border-radius: 15px;
}

#payment-form-container .form-control {
    border-radius: 10px;
}

#qrContainer img {
    max-width: 200px;
    margin-top: 20px;
}

.product-details h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

.product-details p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.banner {
    background-color: #f12d20;
    height: 150px;
    background-image: url("/imagenes/secPromo.jpeg");
    background-size: cover;

    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: screen;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    padding-top: 0;
}